* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* cases start */
.cases-wrapper {
	display: flex;
	justify-content: space-between;
	margin: 220px 72.5px;
	position: relative;
	z-index: 10;
}

.bckg-layer {
	position: absolute;
	top: -120px;
	right: -80px;
	z-index: -1;
	width: 700px;
}

.overallTitle {
	color: rgba(251, 236, 28, 1);
	letter-spacing: 2%;
	font-size: 140px;
	line-height: 180px;
	font-weight: 300;
}

.case-title {
	margin-right: auto;
	margin-left: 70px;
}

.topTitle {
	margin-left: auto;
	margin-right: 0px;
}

.case-left {
	width: 49%;
}

.case-right {
	width: 49%;
	margin-top: 30px;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.right-case-item,
.left-case-item {
	background-color: inherit;
	margin: 10px 0;
	border-radius: 80px 80px 50px 50px;
	padding-bottom: 45px;
	margin-top: 65px;
	width: 85%;
}

.whiteBack,
.whiteBackRight {
	background-color: white;
	width: 100%;
	height: 400px;
	border-radius: 80px;
	background-repeat: no-repeat;
	background-size: cover;
}

.bigger {
	width: 100%;
}

.bigger > .whiteBack,
.bigger > .whiteBackRight {
	height: 460px;
}

.caseTitle {
	font-size: 35px;
	font-weight: 400;
	line-height: 45.15px;
	color: white;
	margin: 5px 0px;
}
.case-desc {
	font-size: 18px;
	font-weight: 400;
	line-height: 23.22px;
	color: rgba(117, 127, 147, 1);
	margin: 0px 0px 30px;
}

.caseBtnWrapper {
	display: flex;
	gap: 7px;
	flex-wrap: wrap;
}
.caseBtn {
	background-color: inherit;
	font-family: inherit;
	color: rgba(117, 127, 147, 1);
	border: 2px solid rgba(117, 127, 147, 1);
	border-radius: 60px;
	font-size: 19px;
	line-height: 26px;
	font-weight: 600;
	padding: 16px 31px 18px;
}

.alignToRight {
	text-align: right;
}
.flexEnd {
	justify-content: flex-end;
}

.moreCaseBtn {
	border-radius: 89.58px;
	color: rgba(250, 27, 86, 1);
	border: 0.9px solid rgba(250, 27, 86, 1);
	padding: 31px 83px;
	position: absolute;
	bottom: 72px;
	right: 0px;
	font-size: 19px;
	line-height: 24px;
	font-weight: 400;
}
